*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --Blue: hsl(246, 80%, 60%);

  --Lightred-work: hsl(15, 100%, 70%);
  --Softblue-play: hsl(195, 74%, 62%);
  --Lightred-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%); 

  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background-color: var(--Verydarkblue);
    height: 100dvh;
}


.profile-container{
    /*border: solid 0.1rem;
    border-radius: 0.3rem;*/
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    min-width: 12rem;
    min-height: 10rem;
  }

.profile-section{
  background-color: var(--Blue);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 1rem;
  line-height: 1.1;
  border-radius: 0.5rem;
}

.profile-section img{
  width: 3rem;
  height: 3rem;
  border: solid 0.15rem rgb(240, 221, 221);
  border-radius: 50%;
}

.profile-section h1{
  font-size: 2rem;
  font-weight: 300;
  color: rgb(238, 231, 231);
  margin-top: 0.5rem;
  margin-top: 0;
}


.profile-section h2{
  font-size: 0.7rem;
  font-weight: 100;
  color: rgb(197, 190, 190);
  margin-top: 2rem;
}

.btn-container{
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  background-color: var(--Darkblue);
}

button{
    cursor: pointer;
    background-color: transparent;
    color: var(--Blue);
    text-align: left;
    transition: 1s;
}

button:hover{
  color:  rgb(238, 231, 231);
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.top-card{
  background-color: var(--Lightred-work);
  border-radius: 1rem 1rem 0 0; 
  min-width: 10rem; 
}

.top-card img{
  width: 2.5rem;
  height: 2rem;
  margin-left: 7rem;
}

.inner-card{
    /*    
    max-width: 11.5rem;
    max-height: 8.3rem;
    */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    padding: 1rem;
    margin-top: -0.8rem;
    background-color: var(--Darkblue);
    font-weight: 300;
    position: relative;
}

.inner-card{
  font-size: 0.7rem;
  padding: 2rem 1rem;
  display: flex;
}

.inner-card :nth-child(3){
  font-size: 1rem;
}

.card-details :nth-child(3){
  font-size: 0.7rem;
  color: var(--PaleBlue);
}

.tittle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tittle img{
  height: 0.2rem;
}

@media (width < 375px){
  body{
    display: block;
  }

  .profile-container{
    width: 15rem;
    margin-left: 1rem;
  }


  .profile-section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .profile-information h1{
    font-size: 0.8rem;
  }

  .profile-information h2{
    font-size: 0.4rem;
    margin-top: 1rem;
  }

  .btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-container{
    display: flex;
    flex-direction: column;
  }

  .card{
    width: 15rem;
  }


  .card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-details :nth-child(3){
    font-size: 0.5rem;
  }
}